* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    box-sizing: border-box;
}

img {
    display: inline-block;
    width: 100%;
}

a,
button {
    color: inherit;
    font-size: 1rem;
    font-family: inherit;
}

:root {
    --background: rgb(50, 48, 79);
    --card: rgb(99, 10, 190);
    --btn: rgb(70, 129, 250);
    --btn-light: rgb(141, 53, 255);
    scroll-behavior: smooth;
    font-family: "Rubik";
}

body {
    color: white;
    font-size: 1rem;
    background-color: var(--background);
}

body .container {
    display: grid;
    row-gap: 19rem;
}

body .container span.none {
    display: none;
}

body .container p span.active {
    display: block;
}

body .container span.color {
    color: var(--btn-light);
}

.container section.foodsRecipe img {
    border-radius: 0.6rem;
    height: 300px;
    object-fit: cover;
}

body .container section .recipe {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: none;
    padding: 0.5rem;
    align-items: start;
    overflow-y: scroll;
}

body .container section.foodsRecipe .contents .recipe .wrapper {
    width: 100%;
    display: grid;
    grid-template-areas:
        "h4"
        "ingridient"
        "how-to-make"
        "closeBtn";
    row-gap: 0.8rem;
    padding: 1.5rem 0.5rem;
}

body .container section.foodsRecipe .contents .recipe .wrapper h4 {
    grid-area: h4;
}

body .container section.foodsRecipe .contents .recipe .wrapper .ingridient {
    grid-area: ingridient;
    line-height: 1.7rem;
    padding: 0 0.7rem;
}

body .container section.foodsRecipe .contents .recipe .wrapper .how-to-make {
    grid-area: how-to-make;
    padding: 0 0.7rem;
}

body .container section.foodsRecipe .contents .recipe .wrapper .ingridient,
body .container section.foodsRecipe .contents .recipe .wrapper .how-to-make {
    padding: 2rem 0.7rem;
}

body .container section.foodsRecipe .contents .recipe .wrapper .ingridient h3,
body .container section.foodsRecipe .contents .recipe .wrapper .how-to-make h3 {
    margin-bottom: 1rem;
}

body .container section.foodsRecipe .contents .recipe .wrapper .how-to-make p {
    margin: 0.6rem 0;
}

body
    .container
    section.foodsRecipe
    .contents
    .recipe
    .wrapper
    .how-to-make
    p:first-child {
    margin: 0;
}

body
    .container
    section.foodsRecipe
    .contents
    .recipe
    .wrapper
    .how-to-make
    p:last-child {
    margin: 0;
}

body .container section.foodsRecipe .contents .recipe .wrapper .close {
    grid-area: closeBtn;
    justify-self: center;
    align-self: center;
    padding: 0.5rem 1.6rem;
    background-color: rgba(99, 22, 22, 0.7);
    border-radius: 0.4rem;
}
/* end reset */

/* navbar */
navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(68, 35, 168, 0.8);
    transition: 0.4s;
    z-index: 99;
    backdrop-filter: blur(10px);
}

navbar .navLinks {
    position: absolute;
    right: -100%;
    display: grid;
    row-gap: 4rem;
    width: 65vw;
    padding: 2rem;
    justify-items: end;
    border-radius: 0 0 0.9rem 0.9rem;
    border-bottom: 2px solid var(--btn);
    border-left: 2px solid var(--btn);
    transition: 0.5s;
    backdrop-filter: blur(30px);
    background-color: rgba(66, 49, 138, 0.9);
}

navbar .navLinks.active {
    right: 0;
}
/* end navbar */

/* hero section */
.hero {
    position: relative;
}

.hero .main-text {
    bottom: -5%;
    width: 100%;
    padding: 3rem 0.7rem;
    position: absolute;
}

.hero .main-text .wrapper {
    display: grid;
    row-gap: 0.5rem;
    text-align: center;
    display: grid;
    justify-items: center;
    padding: 0 3rem;
}

.hero .main-text p {
    font-size: 0.8rem;
    line-height: 1.1rem;
}

.hero .main-text .wrapper a {
    padding: 0.4rem 0.9rem;
    border-radius: 0.4rem;
    border: 2px solid var(--btn-light);
    color: rgb(233, 233, 233);
    font-size: 0.8rem;
    font-weight: 800;
    background-color: rgba(88, 46, 172, 1);
}
/* end hero section */

/* intruction */
.instruction {
    display: grid;
    row-gap: 0.9rem;
    text-align: center;
    background-color: var(--card);
    padding: 0 1rem 1rem;
}

.instruction .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    row-gap: 1rem;
}

/* end intruction */

/* foods recipe section */
.container section.foodsRecipe {
    display: grid;
    row-gap: 3rem;
    padding: 1rem 1.2rem;
}

.container section.foodsRecipe .contents {
    display: grid;
    row-gap: 5rem;
}

.container section.foodsRecipe .contents .content {
    display: grid;
    row-gap: 1rem;
    grid-template-areas:
        "image image"
        "name showRcp"
        "desc desc"
        "read-more read-more";
    border: 2px solid var(--card);
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.4rem;
}

.container section.foodsRecipe .contents .content img {
    grid-area: image;
}

.container section.foodsRecipe .contents .content h4 {
    grid-area: name;
    justify-self: start;
}

.container section.foodsRecipe .contents .content .show-recipe-btn {
    grid-area: showRcp;
    justify-self: end;
    font-size: .8rem;
    border: 0.1rem solid var(--btn-light);
}

.container section.foodsRecipe .contents .content button.read-more {
    grid-area: read-more;
    justify-self: start;
    background: var(--card);
}

.container section.foodsRecipe .contents .content .show-recipe-btn,
.container section.foodsRecipe .contents .content button.read-more {
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
}

.container section.foodsRecipe .contents .content p {
    grid-area: desc;
}
/* end foods recipe section */

.modal-box-author {
    position: fixed;
    top: -100%;
    width: 90%;
    padding: 3rem 1rem;
    justify-self: center;
    background-color: rgba(66, 49, 138, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 0 0 1.4rem 1.4rem;
    transition: 0.5s;
    display: grid;
    row-gap: 0.7rem;
}

.modal-box-author .close-modal-box {
    border: 2px solid var(--btn-light);
    color: red;
    justify-self: center;
    width: 3rem;
    height: 2rem;
    border-radius: 10px;
}

/* footer */
footer {
    display: grid;
    row-gap: 1rem;
    text-align: center;
    padding: 1.2rem 1.4rem;
    background-color: var(--btn-light);
}
/* end footer */
